.myPagePayOuts body, .myPagePayOuts button, .myPagePayOuts dd, .myPagePayOuts div, .myPagePayOuts dl, .myPagePayOuts dt, .myPagePayOuts fieldset, .myPagePayOuts figcaption, .myPagePayOuts figure, .myPagePayOuts form, .myPagePayOuts h1, .myPagePayOuts h2, .myPagePayOuts h3, .myPagePayOuts h4, .myPagePayOuts h5, .myPagePayOuts h6, .myPagePayOuts input, .myPagePayOuts legend, .myPagePayOuts li, .myPagePayOuts ol, .myPagePayOuts p, .myPagePayOuts select, .myPagePayOuts table, .myPagePayOuts td, .myPagePayOuts textarea, .myPagePayOuts th, .myPagePayOuts ul {
    margin: 0;
    padding: 0;
}

.myPagePayOuts .container.my{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 40px 40px 100px;
}

.myPagePayOuts .snb_area{
    margin-right: 20px;
    width: 180px;
}

.myPagePayOuts .snb_main_title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.15px;
    line-height: 29px;
    padding-bottom: 30px;
}

.myPagePayOuts a {
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    color: inherit
}

.myPagePayOuts a,.myPagePayOuts a:active, .myPagePayOuts a:focus, .myPagePayOuts a:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}

.myPagePayOuts p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.myPagePayOuts *, .myPagePayOuts :after, .myPagePayOuts :before {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box
}

.myPagePayOuts nav {
    display: block;
}

.myPagePayOuts body, .myPagePayOuts button, .myPagePayOuts input, .myPagePayOuts select, .myPagePayOuts table, .myPagePayOuts textarea {
    font-feature-settings: "frac" 0,"numr" 0;
    color: #222;
    font-family: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Apple SD Gothic Neo, 
    Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.myPagePayOuts div {
    display: block;
    unicode-bidi: isolate;
}

.myPagePayOuts .snb_title{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.27px;
    line-height: 22px;
    margin-bottom: 12px;
    vertical-align: top;
}

.myPagePayOuts li, .myPagePayOuts ol, .myPagePayOuts ul {
    list-style: none;
}

.myPagePayOuts ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}

.myPagePayOuts li {
    display: list-item;
    text-align: inherit;
    unicode-bidi: isolate;
}

.myPagePayOuts .menu_link{
    color: rgba(34, 34, 34, .5);
    font-size: 15px;
    letter-spacing: -.15px;
    line-height: 18px;
}

.myPagePayOuts .menu_item + .menu_item{
    margin-top: 12px;
}

.myPagePayOuts .container.my .snb_area + div{
    flex: 1;
}

.myPagePayOuts .content_area{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

.myPagePayOuts .my-page-content{
    flex: 1;
}

.myPagePayOuts .lg .user_membership, .myPagePayOuts .md .user_membership{
    flex-direction: row;
    padding: 24px;
}

.myPagePayOuts .user_membership{
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.myPagePayOuts .lg .user_detail, .myPagePayOuts .md .user_detail{
    border-bottom: none;
    padding: 0;
}

.myPagePayOuts .user_detail{
    border-bottom: 8px solid #f0f0f0;
    display: flex;
    flex: 1;
    padding: 16px 24px;
}

.myPagePayOuts .lg .user_thumb, .myPagePayOuts .md .user_thumb{
    height: 60px;
    width: 60px;
}

.myPagePayOuts .user_thumb{
    border-radius: 50%;
    flex-shrink: 0;
    height: 90px;
    margin-right: 12px;
    position: relative;
    width: 90px;
}

.myPagePayOuts .user_thumb:after {
    border: 1px solid rgba(34, 34, 34, .05);
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.myPagePayOuts .user_thumb .thumb_img{
    border-radius: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.myPagePayOuts img, .myPagePayOuts video {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    border: 0;
    -moz-user-select: none !important;
    user-select: none !important;
    -webkit-user-select: none;
    vertical-align: top;
}

.myPagePayOuts img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.myPagePayOuts .lg .user_info, .myPagePayOuts .md .user_info{
    align-items: center;
    flex-direction: row;
}

.myPagePayOuts .user_info{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.myPagePayOuts .info_box{
    flex: 1;
}

.myPagePayOuts .user_info .email, .myPagePayOuts .user_info .name{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPagePayOuts .user_info .name{
    color: #000;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.27px;
    line-height: 21px;
}

.myPagePayOuts .user_info .email{
    color: rgba(34, 34, 34, .5);
    font-size: 14px;
    letter-spacing: -.21px;
    letter-spacing: -.05px;
    line-height: 18px;
}

.myPagePayOuts .lg .info-buttons, .myPagePayOuts .md .info-buttons{
    padding-top: 0;
}

.myPagePayOuts .info-buttons{
    padding-top: 12px;
}

.myPagePayOuts .btn{
    align-items: center;
    background-color: #fff;
    color: rgba(34, 34, 34, .8);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.myPagePayOuts .outlinegrey{
    border: 1px solid #d3d3d3;
    color: rgba(34, 34, 34, .8);
}

.myPagePayOuts .small{
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    letter-spacing: -.06px;
    padding: 0 14px;
}

.myPagePayOuts .btn{
    align-items: center;
    background-color: #fff;
    color: rgba(34, 34, 34, .8);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.myPagePayOuts .lg .shortcut-grid, .myPagePayOuts .md .shortcut-grid{
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding-bottom: 24px;
    padding-top: 24px;
    row-gap: 20px;
}

.myPagePayOuts .lg .shortcut-grid{
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.myPagePayOuts .shortcut-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.myPagePayOuts .my_home_title{
    display: flex;
    max-width: 100%;
    padding-bottom: 0px;
}

.myPagePayOuts .my_home_title .title{
    font-size: 18px;
    letter-spacing: -.27px;
}

.myPagePayOuts .title{
    font-size: 24px;
    letter-spacing: -.36px;
}

.myPagePayOuts .title{
    color: rgba(34, 34, 34, .5);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -.07px;
}

.myPagePayOuts .purchase_list_tab{
    background-color: #fafafa;
    border-radius: 12px;
    display: flex;
    width: 100%;
}

.myPagePayOuts .tab_item{
    display: flex;
    flex: 1;
    text-align: center;
}

.myPagePayOuts .tab_item.tab_on {
    border-bottom: 2px solid #000; /* 활성화된 탭 */
    font-weight: bold;
}

.myPagePayOuts .tab_link{
    display: block;
    flex: 1;
    padding-bottom: 14px;
    padding-top: 14px;
    position: relative;
}

@media (min-width: 961px) {
    .myPagePayOuts .tab_link{
        padding-bottom: 18px;
        padding-top: 18px;
    }
}

.myPagePayOuts dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media (min-width: 961px) {
    .myPagePayOuts .tab_link .title{
        font-size: 13px;
    }
}

.myPagePayOuts .tab_link .title{
    color: rgba(34, 34, 34, .8);
    font-size: 12px;
}

.myPagePayOuts dt {
    display: block;
    unicode-bidi: isolate;
}

.myPagePayOuts .tab_item.total .count{
    color: #f15746;
}

@media (min-width: 961px) {
    .myPagePayOuts .tab_link .count{
        font-size: 18px;
    }
}

.myPagePayOuts .tab_link .count{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.09px;
    line-height: 20px;
    margin-top: 2px;
}

.myPagePayOuts .tab_item:first-of-type .tab_link:before {
    background-color: #ebebeb;
    bottom: 18px;
    content: "";
    position: absolute;
    right: 0;
    top: 18px;
    width: 1px;
}

.myPagePayOuts .tab_link .hold{
    color: #ff7500;
    font-size: 12px;
    letter-spacing: -.06px;
    line-height: 19px;
}

.myPagePayOuts .purchase_list_display_item{
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
    display: flex;
    padding: 25px 25px 25px 0px;
    position: relative;
}

.myPagePayOuts .purchase_list_display_item .wish_delete{
    position: absolute; /* 부모의 왼쪽 아래에 고정 */
    right: 0; /* 왼쪽으로 정렬 */
    bottom: 20px; /* 아래쪽으로 정렬 */
    font-size: 12px; /* 적절한 크기로 조정 */
    color: rgba(34, 34, 34, .8); /* 텍스트 색상 (선택 사항) */
    padding: 0 3px; /* 텍스트 주위에 약간의 여백 추가 */
    text-decoration: underline;
    letter-spacing: -.06px;
}

.myPagePayOuts .purchase_list_product{
    display: flex;
}

.myPagePayOuts .purchase_list_product .list_item_img_wrap{
    position: relative;
}

.myPagePayOuts .purchase_list_product .list_item_img_wrap .list_item_img{
    border-radius: 12px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 80px;
}

.myPagePayOuts .purchase_list_product .list_item_title_wrap{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    width: 100%;
    align-items: flex-start;
    row-gap: 13px;
}

.myPagePayOuts .purchase_list_product .list_item_title_wrap .list_item_price{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPagePayOuts .purchase_list_product .list_item_title_wrap .list_item_title{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    line-height: 17px;
    margin-top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPagePayOuts .purchase_list_product .list_item_title_wrap .list_item_description{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: rgba(34, 34, 34, .5);
    display: -webkit-box;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: -.21px;
    letter-spacing: -.5px;
    line-height: 19px;
    margin-top: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPagePayOuts .list_item_status{
    align-items: center;
    display: flex;
    margin-left: auto;
    text-align: right;
}

.myPagePayOuts .list_item_column p {
    margin: 2.5px 0;
}

.myPagePayOuts .list_item_status .column_secondary{
    font-size: 13px;
    letter-spacing: -.07px;
}

.myPagePayOuts .list_item_status .list_item_column{
    margin-left: 10px;
    width: 134px;
}

.myPagePayOuts .list_item_status .column_last{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.myPagePayOuts .list_item_status .list_item_column{
    margin-left: 10px;
    width: 134px;
}

.myPagePayOuts .list_item_status .column_last .last_title{
    font-size: 14px;
    letter-spacing: -.21px;
}

.myPagePayOuts .list_item_status .column_last .last_description.action_named_action{
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.myPagePayOuts .list_item_status .column_last .last_description{
    font-size: 14px;
    letter-spacing: -.06px;
    overflow: hidden;
    word-break: keep-all;
}

.myPagePayOuts .purchase_list_tab.inventory .tab_item.total .count, .myPagePayOuts .purchase_list_tab.sell .tab_item.total .count{
    color: #31b46e;
}

.myPagePayOuts .my_home_title .btn_more{
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 5px;
}

.myPagePayOuts .interest_product{
    margin: 0 -10px;
}

.myPagePayOuts .product_item{
    display: inline-block;
    margin: 20px 0;
    padding: 0 12px;
    position: relative;
    vertical-align: top;
    width: 25%;
}

.myPagePayOuts .product_item .item_inner{
    background-color: #fff;
    border-radius: 12px;
    display: block;
}

.myPagePayOuts .product{
    border-radius: 8px;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}

.myPagePayOuts .detail_stock .product_img, .myPagePayOuts .is_exclusive .product_img, .myPagePayOuts .lucky_draw_column .product_img, .myPagePayOuts .other_stock .product_img, .myPagePayOuts .product_img, .myPagePayOuts .stock .product_img{
    height: auto;
    width: 100%;
}

.myPagePayOuts .product_img{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.myPagePayOuts .picture{
    border: none;
    display: flex;
}

.myPagePayOuts .image.full_width{
    height: 100%;
    width: 100%;
}

.myPagePayOuts .image{
    image-rendering: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.myPagePayOuts .product_item .btn_wish{
    bottom: 3px;
    display: inline-flex;
    padding: 5px;
    position: absolute;
    right: 3px;
    z-index: 1;
}

.myPagePayOuts .btn_wish{
    display: flex;
    height: inherit;
}

[role=button] {
    cursor: pointer;
}

[class*=ico-] {
    height: 24px;
    width: 24px;
}

.myPagePayOuts .product_item .info_box{
    padding: 9px 4px 0;
}

.myPagePayOuts .brand-text {
    align-items: center;
    color: #222;
    display: inline-flex;
    font-size: 18px;
    font-weight: 700;
    height: 17px;
    line-height: 20px;
    margin-bottom: 2px;
}

.myPagePayOuts .brand-text > .brand-name {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPagePayOuts .product_item .price{
    padding-top: 12px;
}

.myPagePayOuts .product_item .amount{
    font-size: 0;
    line-height: 0;
}

.myPagePayOuts .product_item .discount_rate, .myPagePayOuts .product_item .num, .myPagePayOuts .product_item .won{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.04px;
    line-height: 17px;
    vertical-align: top;
}

.myPagePayOuts .display_paragraph.line_break_by_truncating_tail {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPagePayOuts .text-lookup.bold{
    font-weight: 700;
}

.myPagePayOuts address, .myPagePayOuts em {
    font-style: normal;
}

.myPagePayOuts .product_item .desc{
    color: rgba(34, 34, 34, .5);
    font-size: 11px;
    line-height: 13px;
    margin-top: 2px;
}

.myPagePayOuts .content_title{
    display: flex;
}

.myPagePayOuts .purchase_list_tab.detail_tab{
    background-color: #fff;
    border-radius: 0;
    margin-top: 20px;
}

.myPagePayOuts .purchase_list_tab.detail_tab .tab_link{
    border-bottom: 1px solid #ebebeb;
    height: 80px;
    padding-top: 12px;
}

.myPagePayOuts .purchase_list_tab.detail_tab .tab_box{
    display: flex;
    flex-direction: column-reverse;
}

.myPagePayOuts .purchase_list_tab.detail_tab .tab_on .title{
    color: #222;
    font-weight: 700;
}

.myPagePayOuts .purchase_list_tab.detail_tab .title{
    color: rgba(34, 34, 34, .5);
}

.myPagePayOuts .purchase_list_tab.detail_tab .tab_on .count{
    color: #31b46e;
}

.myPagePayOuts .purchase_list_tab.detail_tab .count{
    font-size: 20px;
    letter-spacing: -.1px;
    line-height: 24px;
    margin-top: 0;
}

.myPagePayOuts .title>h3{
    font-size: 24px;
    line-height: 29px;
}

.myPagePayOuts .main_title>h3{
    font-size: 24px;
    line-height: 29px;
}

.myPagePayOuts .before_purchase_confirmation{
    font-size: 12px;
    color: #BFBFBF;

}

.myPagePayOuts .after_purchase_confirmation{
    font-size: 12px;
    color: #BFBFBF;
}

.myPagePayOuts .content_title.border{
    border-bottom: 3px solid #222;
    padding-bottom: 16px;
}

.myPagePayOuts .saved-chips-container{
    padding: 12px 0;
}

.myPagePayOuts .filter_chip_group.bubble{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
    position: relative;
}

.myPagePayOuts .blind, .myPagePayOuts .u_skip {
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
}

.myPagePayOuts input, .myPagePayOuts textarea {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 0;
    resize: none;
}

.myPagePayOuts .filter_button.line{
    align-items: center;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    color: #4e4e4e;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
    padding: 0 8px;
}

.myPagePayOuts .filter_button.line.active{
    background-color: #222;
    border: none;
    color: #fff;
    font-weight: 600;
    box-shadow: none;
}

.myPagePayOuts .filter_button{
    cursor: pointer;
    position: relative;
}

.myPagePayOuts button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: none;
    padding: 0;
}

.myPagePayOuts .filter_button .text-group{
    padding: 0 4px;
}

.myPagePayOuts .filter_button .num{
    display: none;
}

.myPagePayOuts .content-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.myPagePayOuts .total-rows{
    color: rgba(34, 34, 34, .8);
    font-size: 13px;
    letter-spacing: -.07px;
}

.myPagePayOuts .profile_group.first{
    padding-top: 0 !important;
}

.myPagePayOuts .profile_info{
    max-width: 480px;
    padding-top: 38px;
}

.myPagePayOuts .profile_group{
    padding-top: 48px;
}


.myPagePayOuts .lg .profile_group, .myPagePayOuts .md .profile_group{
    padding-top: 58px;
}

.myPagePayOuts .group_title{
    font-size: 18px;
    letter-spacing: -.27px;
}

.myPagePayOuts .unit{
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    padding: 25px 0 12px;
    position: relative;
}

.myPagePayOuts .unit_content{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.myPagePayOuts .desc{
    flex: 1;
    font-size: 16px;
    letter-spacing: -.16px;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.myPagePayOuts .btn_modify{
    position: absolute;
    right: 0;
}

.myPagePayOuts .my-profile__term-desc{
    line-height: 1;
    padding-bottom: 0;
    padding-top: 0;
}

.myPagePayOuts .my-profile__term-desc>span{
    display: block;
    margin-bottom: 2px;
}

.myPagePayOuts .desc [type=button]{
    color: #909090;
    font-size: 12px;
    font-weight: 400;
    text-decoration-line: underline;
}

.myPagePayOuts .base-switch{
    background-color: var(--75b83bce);
    border-radius: 15.5px;
    cursor: pointer;
    height: 31px;
    position: relative;
    width: 51px;
}

.myPagePayOuts .base-switch.is-active{
    background-color: var(--6d656928);
}

.myPagePayOuts .base-switch .circle{
    background-color: var(--30d0adec);
    border-radius: 50%;
    height: 27px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(2px, -50%);
    width: 27px;
}

.myPagePayOuts .base-switch.is-active .circle{
    transform: translate(22px, -50%);
}

.myPagePayOuts .base-switch .circle, .myPagePayOuts .base-switch{
    transition: all .3s cubic-bezier(.4,0,.2,1) !important;
}

.myPagePayOuts .btn_withdrawal, .myPagePayOuts .btn_withdrawal:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.myPagePayOuts .btn_withdrawal{
    color: rgba(34, 34, 34, .5);
    display: inline-block;
    font-size: 13px;
    letter-spacing: -.07px;
    margin-top: 55px;
    padding: 5px 0;
}

.myPagePayOuts .lg .user_profile, .myPagePayOuts .md .user_profile{
    border-bottom: 1px solid #ebebeb;
}

.myPagePayOuts .user_profile{
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 38px 0;
}

.myPagePayOuts .profile_thumb{
    border-radius: 100%;
    flex: none;
    height: 80px;
    margin-right: 12px;
    overflow: hidden;
    width: 80px;
}

.myPagePayOuts .lg .profile_thumb, .myPagePayOuts .md .profile_thumb{
    height: 90px;
    width: 90px;
}

.myPagePayOuts .profile_thumb .thumb_img{
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.myPagePayOuts .profile_detail .name{
    color: #000;
    font-size: 18px;
    letter-spacing: -.27px;
    line-height: 1.2222222222;
}

.myPagePayOuts .profile_btn_box{
    font-size: 0;
    margin-top: 12px;
}

.myPagePayOuts .profile_btn_box .btn+.btn{
    margin-left: 8px;
}

.myPagePayOuts .desc_modify{
    padding-right: 58px;
}

.myPagePayOuts .container.my .snb_area+div{
    flex: 1;
}

.myPagePayOuts .my_addressbook{
    min-height: 315px;
}

.myPagePayOuts .btn_box{
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 30px;
}

.myPagePayOuts .btn_box .btn{
    align-items: center;
    display: flex;
    font-size: 14px;
    letter-spacing: -.21px;
    margin-right: -6px;
    padding: 0 6px;
}

.myPagePayOuts .btn_box .btn.btn_add {
    border: 1px solid #222;
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    letter-spacing: -.06px;
    line-height: 32px;
    margin-right: 0;
    padding: 0 14px;
}

.myPagePayOuts .basic{
    border-bottom: 2px solid #222;
    padding: 30px 0 29px;
}

.myPagePayOuts .my_item{
    align-items: center;
    display: flex;
    position: relative;
}

.myPagePayOuts .my_item .info_bind{
    margin-right: 24px;
}

.myPagePayOuts .address_info{
    line-height: 17px;
}

.myPagePayOuts .is_active .address_info .name{
    font-weight: 700;
}

.myPagePayOuts .address_info .name{
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.15px;
    line-height: 20px;
    vertical-align: top;
}

.myPagePayOuts .address_info .mark{
    background-color: #f4f4f4;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    letter-spacing: -.06px;
    line-height: 14px;
    margin-top: 0;
    padding: 3px 0.5px 3px 1px;
    vertical-align: top;
    width: 70px;
}

.myPagePayOuts .address_info .phone{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    padding-top: 5px;
}

.myPagePayOuts .address_info .phone .hyphen{
    background-color: #000;
    display: inline-flex;
    height: 1px;
    margin: 0px 2px 4px 4px;
    width: 4px;
}

.myPagePayOuts .address_info .address_box{
    font-size: 14px;
    letter-spacing: -.21px;
    padding-top: 4px;
}

.myPagePayOuts .basic .btn_bind{
    margin-top: 12px;
}

.myPagePayOuts .btn_bind{
    margin-left: auto;
}

.myPagePayOuts .btn_bind .btn{
    padding-left: 11px;
    padding-right: 12px;
}

.myPagePayOuts .btn_bind .btn+.btn{
    margin-left: 8px;
}

.myPagePayOuts .other .my_item{
    border-bottom: 1px solid #ebebeb;
    padding: 17px 0 16px;
}