.myPageWishList body, .myPageWishList button, .myPageWishList dd, .myPageWishList div, .myPageWishList dl, .myPageWishList dt, .myPageWishList fieldset, .myPageWishList figcaption, .myPageWishList figure, .myPageWishList form, .myPageWishList h1, .myPageWishList h2, .myPageWishList h3, .myPageWishList h4, .myPageWishList h5, .myPageWishList h6, .myPageWishList input, .myPageWishList legend, .myPageWishList li, .myPageWishList ol, .myPageWishList p, .myPageWishList select, .myPageWishList table, .myPageWishList td, .myPageWishList textarea, .myPageWishList th, .myPageWishList ul {
    margin: 0;
    padding: 0;
}

.myPageWishList .container.my{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 40px 40px 100px;
}

.myPageWishList .snb_area{
    margin-right: 20px;
    width: 180px;
}

.myPageWishList .snb_main_title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.15px;
    line-height: 29px;
    padding-bottom: 30px;
}

.myPageWishList a {
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    color: inherit
}

.myPageWishList a,.myPageWishList a:active, .myPageWishList a:focus, .myPageWishList a:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}

.myPageWishList p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.myPageWishList *, .myPageWishList :after, .myPageWishList :before {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box
}

.myPageWishList nav {
    display: block;
}

.myPageWishList body, .myPageWishList button, .myPageWishList input, .myPageWishList select, .myPageWishList table, .myPageWishList textarea {
    font-feature-settings: "frac" 0,"numr" 0;
    color: #222;
    font-family: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Apple SD Gothic Neo, 
    Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.myPageWishList div {
    display: block;
    unicode-bidi: isolate;
}

.myPageWishList .snb_title{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.27px;
    line-height: 22px;
    margin-bottom: 12px;
    vertical-align: top;
}

.myPageWishList li, .myPageWishList ol, .myPageWishList ul {
    list-style: none;
}

.myPageWishList ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}

.myPageWishList li {
    display: list-item;
    text-align: inherit;
    unicode-bidi: isolate;
}

.myPageWishList .menu_link{
    color: rgba(34, 34, 34, .5);
    font-size: 15px;
    letter-spacing: -.15px;
    line-height: 18px;
}

.myPageWishList .menu_item + .menu_item{
    margin-top: 12px;
}

.myPageWishList .container.my .snb_area + div{
    flex: 1;
}

.myPageWishList .content_area{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

.myPageWishList .my-page-content{
    flex: 1;
}

.myPageWishList .lg .user_membership, .myPageWishList .md .user_membership{
    flex-direction: row;
    padding: 24px;
}

.myPageWishList .user_membership{
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.myPageWishList .lg .user_detail, .myPageWishList .md .user_detail{
    border-bottom: none;
    padding: 0;
}

.myPageWishList .user_detail{
    border-bottom: 8px solid #f0f0f0;
    display: flex;
    flex: 1;
    padding: 16px 24px;
}

.myPageWishList .lg .user_thumb, .myPageWishList .md .user_thumb{
    height: 60px;
    width: 60px;
}

.myPageWishList .user_thumb{
    border-radius: 50%;
    flex-shrink: 0;
    height: 90px;
    margin-right: 12px;
    position: relative;
    width: 90px;
}

.myPageWishList .user_thumb:after {
    border: 1px solid rgba(34, 34, 34, .05);
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.myPageWishList .user_thumb .thumb_img{
    border-radius: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.myPageWishList img, .myPageWishList video {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    border: 0;
    -moz-user-select: none !important;
    user-select: none !important;
    -webkit-user-select: none;
    vertical-align: top;
}

.myPageWishList img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.myPageWishList .lg .user_info, .myPageWishList .md .user_info{
    align-items: center;
    flex-direction: row;
}

.myPageWishList .user_info{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.myPageWishList .info_box{
    flex: 1;
}

.myPageWishList .user_info .email, .myPageWishList .user_info .name{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageWishList .user_info .name{
    color: #000;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.27px;
    line-height: 21px;
}

.myPageWishList .user_info .email{
    color: rgba(34, 34, 34, .5);
    font-size: 14px;
    letter-spacing: -.21px;
    letter-spacing: -.05px;
    line-height: 18px;
}

.myPageWishList .lg .info-buttons, .myPageWishList .md .info-buttons{
    padding-top: 0;
}

.myPageWishList .info-buttons{
    padding-top: 12px;
}

.myPageWishList .btn{
    align-self: flex-start;
    height: 36px;
    line-height: 34px;
}

.myPageWishList .outlinegrey{
    border: 1px solid #d3d3d3;
    color: rgba(34, 34, 34, .8);
}

.myPageWishList .small{
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    letter-spacing: -.06px;
    padding: 0 14px;
}

.myPageWishList .btn{
    align-items: center;
    background-color: #fff;
    color: rgba(34, 34, 34, .8);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.myPageWishList .lg .shortcut-grid, .myPageWishList .md .shortcut-grid{
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding-bottom: 24px;
    padding-top: 24px;
    row-gap: 20px;
}

.myPageWishList .lg .shortcut-grid{
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.myPageWishList .shortcut-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.myPageWishList .my_home_title{
    display: flex;
    max-width: 100%;
    padding-bottom: 0px;
}

.myPageWishList .my_home_title .title_name{
    font-size: 18px;
    letter-spacing: -.27px;
}

.myPageWishList .purchase_list_tab{
    background-color: #fafafa;
    border-radius: 12px;
    display: flex;
    width: 100%;
}

.myPageWishList .tab_item{
    display: flex;
    flex: 1;
    text-align: center;
}

.myPageWishList .tab_item.tab_on {
    border-bottom: 2px solid #000; /* 활성화된 탭 */
    font-weight: bold;
}

.myPageWishList .tab_link{
    display: block;
    flex: 1;
    padding-bottom: 14px;
    padding-top: 14px;
    position: relative;
}

@media (min-width: 961px) {
    .myPageWishList .tab_link{
        padding-bottom: 18px;
        padding-top: 18px;
    }
}

.myPageWishList dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media (min-width: 961px) {
    .myPageWishList .tab_link .title_name{
        font-size: 13px;
    }
}

.myPageWishList .tab_link .title_name{
    color: rgba(34, 34, 34, .8);
    font-size: 12px;
}

.myPageWishList dt {
    display: block;
    unicode-bidi: isolate;
}

.myPageWishList .tab_item.total .count{
    color: #f15746;
}

@media (min-width: 961px) {
    .myPageWishList .tab_link .count{
        font-size: 18px;
    }
}

.myPageWishList .tab_link .count{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.09px;
    line-height: 20px;
    margin-top: 2px;
}

.myPageWishList .tab_item:first-of-type .tab_link:before {
    background-color: #ebebeb;
    bottom: 18px;
    content: "";
    position: absolute;
    right: 0;
    top: 18px;
    width: 1px;
}

.myPageWishList .tab_link .hold{
    color: #ff7500;
    font-size: 12px;
    letter-spacing: -.06px;
    line-height: 19px;
}

.myPageWishList .purchase_list_display_item{
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    padding: 25px 25px 25px 0px;
    position: relative;
}

.myPageWishList .purchase_list_display_item .wish_delete{
    position: absolute; /* 부모의 왼쪽 아래에 고정 */
    right: 0; /* 왼쪽으로 정렬 */
    bottom: 20px; /* 아래쪽으로 정렬 */
    font-size: 12px; /* 적절한 크기로 조정 */
    color: rgba(34, 34, 34, .8); /* 텍스트 색상 (선택 사항) */
    padding: 0 3px; /* 텍스트 주위에 약간의 여백 추가 */
    text-decoration: underline;
    letter-spacing: -.06px;
    cursor: pointer;
}

.myPageWishList .purchase_list_product{
    display: flex;
}

.myPageWishList .purchase_list_product .list_item_img_wrap{
    position: relative;
}

.myPageWishList .purchase_list_product .list_item_img_wrap .list_item_img{
    border-radius: 12px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 80px;
}

.myPageWishList .purchase_list_product .list_item_title_wrap{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    width: 100%;
    align-items: flex-start;
    row-gap: 13px;
}

.myPageWishList .purchase_list_product .list_item_title_wrap .list_item_price{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageWishList .purchase_list_product .list_item_title_wrap .list_item_title{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    line-height: 17px;
    margin-top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageWishList .purchase_list_product .list_item_title_wrap .list_item_description{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: rgba(34, 34, 34, .5);
    display: -webkit-box;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: -.21px;
    letter-spacing: -.5px;
    line-height: 19px;
    margin-top: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageWishList .list_item_status{
    align-items: center;
    display: flex;
    margin-left: auto;
    text-align: right;
}

.myPageWishList .list_item_column p {
    margin: 2.5px 0;
}

.myPageWishList .list_item_status .column_secondary{
    font-size: 13px;
    letter-spacing: -.07px;
}

.myPageWishList .list_item_status .list_item_column{
    margin-left: 10px;
    width: 134px;
}

.myPageWishList .list_item_status .column_last{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.myPageWishList .list_item_status .list_item_column{
    margin-left: 10px;
    width: 134px;
}

.myPageWishList .list_item_status .column_last .last_title{
    font-size: 14px;
    letter-spacing: -.21px;
}

.myPageWishList .list_item_status .column_last .last_description.action_named_action{
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.myPageWishList .list_item_status .column_last .last_description{
    font-size: 14px;
    letter-spacing: -.06px;
    overflow: hidden;
    word-break: keep-all;
}

.myPageWishList .purchase_list_tab.inventory .tab_item.total .count, .myPageWishList .purchase_list_tab.sell .tab_item.total .count{
    color: #31b46e;
}

.myPageWishList .my_home_title .btn_more{
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 5px;
}

.myPageWishList .interest_product{
    margin: 0 -10px;
}

.myPageWishList .product_item{
    display: inline-block;
    margin: 20px 0;
    padding: 0 12px;
    position: relative;
    vertical-align: top;
    width: 25%;
}

.myPageWishList .product_item .item_inner{
    background-color: #fff;
    border-radius: 12px;
    display: block;
}

.myPageWishList .product{
    border-radius: 8px;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}

.myPageWishList .detail_stock .product_img, .myPageWishList .is_exclusive .product_img, .myPageWishList .lucky_draw_column .product_img, .myPageWishList .other_stock .product_img, .myPageWishList .product_img, .myPageWishList .stock .product_img{
    height: auto;
    width: 100%;
}

.myPageWishList .product_img{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.myPageWishList .picture{
    border: none;
    display: flex;
}

.myPageWishList .image.full_width{
    height: 100%;
    width: 100%;
}

.myPageWishList .image{
    image-rendering: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.myPageWishList .product_item .btn_wish{
    bottom: 3px;
    display: inline-flex;
    padding: 5px;
    position: absolute;
    right: 3px;
    z-index: 1;
}

.myPageWishList .btn_wish{
    display: flex;
    height: inherit;
}

[role=button] {
    cursor: pointer;
}

[class*=ico-] {
    height: 24px;
    width: 24px;
}

.myPageWishList .product_item .info_box{
    padding: 9px 4px 0;
}

.myPageWishList .brand-text {
    align-items: center;
    color: #222;
    display: inline-flex;
    font-size: 18px;
    font-weight: 700;
    height: 17px;
    line-height: 20px;
    margin-bottom: 2px;
}

.myPageWishList .brand-text > .brand-name {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageWishList .product_item .price{
    padding-top: 12px;
}

.myPageWishList .product_item .amount{
    font-size: 0;
    line-height: 0;
}

.myPageWishList .product_item .discount_rate, .myPageWishList .product_item .num, .myPageWishList .product_item .won{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.04px;
    line-height: 17px;
    vertical-align: top;
}

.myPageWishList .display_paragraph.line_break_by_truncating_tail {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageWishList .text-lookup.bold{
    font-weight: 700;
}

.myPageWishList address, .myPageWishList em {
    font-style: normal;
}

.myPageWishList .product_item .desc{
    color: rgba(34, 34, 34, .5);
    font-size: 11px;
    line-height: 13px;
    margin-top: 2px;
}

.myPageWishList .content_title{
    display: flex;
}

.myPageWishList .purchase_list_tab.detail_tab{
    background-color: #fff;
    border-radius: 0;
    margin-top: 20px;
}

.myPageWishList .purchase_list_tab.detail_tab .tab_link{
    border-bottom: 1px solid #ebebeb;
    height: 80px;
    padding-top: 12px;
}

.myPageWishList .purchase_list_tab.detail_tab .tab_box{
    display: flex;
    flex-direction: column-reverse;
}

.myPageWishList .purchase_list_tab.detail_tab .tab_on .title_name{
    color: #222;
    font-weight: 700;
}

.myPageWishList .purchase_list_tab.detail_tab .title_name{
    color: rgba(34, 34, 34, .5);
}

.myPageWishList .purchase_list_tab.detail_tab .tab_on .count{
    color: #31b46e;
}

.myPageWishList .purchase_list_tab.detail_tab .count{
    font-size: 20px;
    letter-spacing: -.1px;
    line-height: 24px;
    margin-top: 0;
}

.myPageWishList .title_name > h3{
    font-size: 24px;
    line-height: 29px;
}

.myPageWishList .before_purchase_confirmation{
    font-size: 12px;
    color: #BFBFBF;

}

.myPageWishList .after_purchase_confirmation{
    font-size: 12px;
    color: #BFBFBF;
}

.myPageWishList .content_title.border{
    border-bottom: 3px solid #222;
    padding-bottom: 16px;
}

.myPageWishList .saved-chips-container{
    padding: 12px 0;
}

.myPageWishList .filter_chip_group.bubble{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
    position: relative;
}

.myPageWishList .blind, .myPageWishList .u_skip {
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
}

.myPageWishList input, .myPageWishList textarea {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 0;
    resize: none;
}

.myPageWishList .filter_button.line{
    align-items: center;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    color: #4e4e4e;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
    padding: 0 8px;
}

.myPageWishList .filter_button.line.active{
    background-color: #222;
    border: none;
    color: #fff;
    font-weight: 600;
    box-shadow: none;
}

.myPageWishList .filter_button{
    cursor: pointer;
    position: relative;
}

.myPageWishList button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: none;
    padding: 0;
}

.myPageWishList .filter_button .text-group{
    padding: 0 4px;
}

.myPageWishList .filter_button .num{
    display: none;
}

.myPageWishList .content-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.myPageWishList .total-rows{
    color: rgba(34, 34, 34, .8);
    font-size: 13px;
    letter-spacing: -.07px;
}