.chat-check-container {
  padding: 20px;
  background-color: #fff;
  font-family: Arial, sans-serif;
}
.content_paper{
  display: flex;
  justify-content: center;
  width: 400px;
  height: 170px;
  border: 1px solid lightgray;
  border-radius: 15px;
  align-items: center;
  box-shadow: inset -4px -4px 9px 3px rgba(0, 0, 0, 0.1); /* 내부 그림자 */
}
.chat-check-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* 헤더는 중앙 정렬 */
  color: gray;
}
.chat-check-header a{
  font-size: 20px;
  color: rgb(77, 77, 77);
}
.chat-check-header p {
  font-size: 26px;
  color: rgb(77, 77, 77);
}

.chat-check-body {
  margin-left: 25px;
}

.left-align {
  display: inline;
  text-align: left; /* 왼쪽 정렬 */
  font-size: 14px;
  font-weight: bold;
  color: gray;
  
}

.left-align li{
  margin-bottom: 20px;
}

