.myPageProfileInfo body, .myPageProfileInfo button, .myPageProfileInfo dd, .myPageProfileInfo div, .myPageProfileInfo dl, .myPageProfileInfo dt, .myPageProfileInfo fieldset, .myPageProfileInfo figcaption, .myPageProfileInfo figure, .myPageProfileInfo form, .myPageProfileInfo h1, .myPageProfileInfo h2, .myPageProfileInfo h3, .myPageProfileInfo h4, .myPageProfileInfo h5, .myPageProfileInfo h6, .myPageProfileInfo input, .myPageProfileInfo legend, .myPageProfileInfo li, .myPageProfileInfo ol, .myPageProfileInfo p, .myPageProfileInfo select, .myPageProfileInfo table, .myPageProfileInfo td, .myPageProfileInfo textarea, .myPageProfileInfo th, .myPageProfileInfo ul {
    margin: 0;
    padding: 0;
}

.myPageProfileInfo .container.my{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 40px 40px 100px;
}

.myPageProfileInfo .snb_area{
    margin-right: 20px;
    width: 180px;
}

.myPageProfileInfo .snb_main_title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.15px;
    line-height: 29px;
    padding-bottom: 30px;
}

.myPageProfileInfo a {
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    color: inherit
}

.myPageProfileInfo a,.myPageProfileInfo a:active, .myPageProfileInfo a:focus, .myPageProfileInfo a:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}

.myPageProfileInfo p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.myPageProfileInfo *, .myPageProfileInfo :after, .myPageProfileInfo :before {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box
}

.myPageProfileInfo nav {
    display: block;
}

.myPageProfileInfo body, .myPageProfileInfo button, .myPageProfileInfo input, .myPageProfileInfo select, .myPageProfileInfo table, .myPageProfileInfo textarea {
    font-feature-settings: "frac" 0,"numr" 0;
    color: #222;
    font-family: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Apple SD Gothic Neo, 
    Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.myPageProfileInfo div {
    display: block;
    unicode-bidi: isolate;
}

.myPageProfileInfo .snb_title{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.27px;
    line-height: 22px;
    margin-bottom: 12px;
    vertical-align: top;
}

.myPageProfileInfo li, .myPageProfileInfo ol, .myPageProfileInfo ul {
    list-style: none;
}

.myPageProfileInfo ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}

.myPageProfileInfo li {
    display: list-item;
    text-align: inherit;
    unicode-bidi: isolate;
}

.myPageProfileInfo .menu_link{
    color: rgba(34, 34, 34, .5);
    font-size: 15px;
    letter-spacing: -.15px;
    line-height: 18px;
}

.myPageProfileInfo .menu_item + .menu_item{
    margin-top: 12px;
}

.myPageProfileInfo .container.my .snb_area + div{
    flex: 1;
}

.myPageProfileInfo .content_area{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

.myPageProfileInfo .my-page-content{
    flex: 1;
}

.myPageProfileInfo .lg .user_membership, .myPageProfileInfo .md .user_membership{
    flex-direction: row;
    padding: 24px;
}

.myPageProfileInfo .user_membership{
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.myPageProfileInfo .lg .user_detail, .myPageProfileInfo .md .user_detail{
    border-bottom: none;
    padding: 0;
}

.myPageProfileInfo .user_detail{
    border-bottom: 8px solid #f0f0f0;
    display: flex;
    flex: 1;
    padding: 16px 24px;
}

.myPageProfileInfo .lg .user_thumb, .myPageProfileInfo .md .user_thumb{
    height: 60px;
    width: 60px;
}

.myPageProfileInfo .user_thumb{
    border-radius: 50%;
    flex-shrink: 0;
    height: 90px;
    margin-right: 12px;
    position: relative;
    width: 90px;
}

.myPageProfileInfo .user_thumb:after {
    border: 1px solid rgba(34, 34, 34, .05);
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.myPageProfileInfo .user_thumb {
    border-radius: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.thumb_img {
    width: 100px; /* 원하는 너비 */
    height: 100px; /* 원하는 높이 */
    object-fit: cover; /* 비율 유지하며 크기 조정 */
    border-radius: 50%; /* 원형 이미지 */
}
.myPageProfileInfo img, .myPageProfileInfo video {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    border: 0;
    -moz-user-select: none !important;
    user-select: none !important;
    -webkit-user-select: none;
    vertical-align: top;
}

.myPageProfileInfo img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.myPageProfileInfo .lg .user_info, .myPageProfileInfo .md .user_info{
    align-items: center;
    flex-direction: row;
}

.myPageProfileInfo .user_info{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.myPageProfileInfo .info_box{
    flex: 1;
}

.myPageProfileInfo .user_info .email, .myPageProfileInfo .user_info .name{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageProfileInfo .user_info .name{
    color: #000;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.27px;
    line-height: 21px;
}

.myPageProfileInfo .user_info .email{
    color: rgba(34, 34, 34, .5);
    font-size: 14px;
    letter-spacing: -.21px;
    letter-spacing: -.05px;
    line-height: 18px;
}

.myPageProfileInfo .lg .info-buttons, .myPageProfileInfo .md .info-buttons{
    padding-top: 0;
}

.myPageProfileInfo .info-buttons{
    padding-top: 12px;
}

.myPageProfileInfo .btn{
    align-items: center;
    background-color: #fff;
    color: rgba(34, 34, 34, .8);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.myPageProfileInfo .outlinegrey{
    border: 1px solid #d3d3d3;
    color: rgba(34, 34, 34, .8);
}

.myPageProfileInfo .small{
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    letter-spacing: -.06px;
    padding: 0 14px;
}

.myPageProfileInfo .btn{
    align-items: center;
    background-color: #fff;
    color: rgba(34, 34, 34, .8);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.myPageProfileInfo .lg .shortcut-grid, .myPageProfileInfo .md .shortcut-grid{
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding-bottom: 24px;
    padding-top: 24px;
    row-gap: 20px;
}

.myPageProfileInfo .lg .shortcut-grid{
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.myPageProfileInfo .shortcut-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.myPageProfileInfo .my_home_title{
    display: flex;
    max-width: 100%;
    padding-bottom: 0px;
}

.myPageProfileInfo .my_home_title .title{
    font-size: 18px;
    letter-spacing: -.27px;
}

.myPageProfileInfo .title{
    font-size: 24px;
    letter-spacing: -.36px;
}

.myPageProfileInfo .title{
    color: rgba(34, 34, 34, .5);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -.07px;
}

.myPageProfileInfo .purchase_list_tab{
    background-color: #fafafa;
    border-radius: 12px;
    display: flex;
    width: 100%;
}

.myPageProfileInfo .tab_item{
    display: flex;
    flex: 1;
    text-align: center;
}

.myPageProfileInfo .tab_item.tab_on {
    border-bottom: 2px solid #000; /* 활성화된 탭 */
    font-weight: bold;
}

.myPageProfileInfo .tab_link{
    display: block;
    flex: 1;
    padding-bottom: 14px;
    padding-top: 14px;
    position: relative;
}

@media (min-width: 961px) {
    .myPageProfileInfo .tab_link{
        padding-bottom: 18px;
        padding-top: 18px;
    }
}

.myPageProfileInfo dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media (min-width: 961px) {
    .myPageProfileInfo .tab_link .title{
        font-size: 13px;
    }
}

.myPageProfileInfo .tab_link .title{
    color: rgba(34, 34, 34, .8);
    font-size: 12px;
}

.myPageProfileInfo dt {
    display: block;
    unicode-bidi: isolate;
}

.myPageProfileInfo .tab_item.total .count{
    color: #f15746;
}

@media (min-width: 961px) {
    .myPageProfileInfo .tab_link .count{
        font-size: 18px;
    }
}

.myPageProfileInfo .tab_link .count{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.09px;
    line-height: 20px;
    margin-top: 2px;
}

.myPageProfileInfo .tab_item:first-of-type .tab_link:before {
    background-color: #ebebeb;
    bottom: 18px;
    content: "";
    position: absolute;
    right: 0;
    top: 18px;
    width: 1px;
}

.myPageProfileInfo .tab_link .hold{
    color: #ff7500;
    font-size: 12px;
    letter-spacing: -.06px;
    line-height: 19px;
}

.myPageProfileInfo .purchase_list_display_item{
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
    display: flex;
    padding: 25px 25px 25px 0px;
    position: relative;
}

.myPageProfileInfo .purchase_list_display_item .wish_delete{
    position: absolute; /* 부모의 왼쪽 아래에 고정 */
    right: 0; /* 왼쪽으로 정렬 */
    bottom: 20px; /* 아래쪽으로 정렬 */
    font-size: 12px; /* 적절한 크기로 조정 */
    color: rgba(34, 34, 34, .8); /* 텍스트 색상 (선택 사항) */
    padding: 0 3px; /* 텍스트 주위에 약간의 여백 추가 */
    text-decoration: underline;
    letter-spacing: -.06px;
}

.myPageProfileInfo .purchase_list_product{
    display: flex;
}

.myPageProfileInfo .purchase_list_product .list_item_img_wrap{
    position: relative;
}

.myPageProfileInfo .purchase_list_product .list_item_img_wrap .list_item_img{
    border-radius: 12px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 80px;
}

.myPageProfileInfo .purchase_list_product .list_item_title_wrap{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    width: 100%;
    align-items: flex-start;
    row-gap: 13px;
}

.myPageProfileInfo .purchase_list_product .list_item_title_wrap .list_item_price{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageProfileInfo .purchase_list_product .list_item_title_wrap .list_item_title{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    line-height: 17px;
    margin-top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageProfileInfo .purchase_list_product .list_item_title_wrap .list_item_description{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: rgba(34, 34, 34, .5);
    display: -webkit-box;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: -.21px;
    letter-spacing: -.5px;
    line-height: 19px;
    margin-top: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageProfileInfo .list_item_status{
    align-items: center;
    display: flex;
    margin-left: auto;
    text-align: right;
}

.myPageProfileInfo .list_item_column p {
    margin: 2.5px 0;
}

.myPageProfileInfo .list_item_status .column_secondary{
    font-size: 13px;
    letter-spacing: -.07px;
}

.myPageProfileInfo .list_item_status .list_item_column{
    margin-left: 10px;
    width: 134px;
}

.myPageProfileInfo .list_item_status .column_last{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.myPageProfileInfo .list_item_status .list_item_column{
    margin-left: 10px;
    width: 134px;
}

.myPageProfileInfo .list_item_status .column_last .last_title{
    font-size: 14px;
    letter-spacing: -.21px;
}

.myPageProfileInfo .list_item_status .column_last .last_description.action_named_action{
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.myPageProfileInfo .list_item_status .column_last .last_description{
    font-size: 14px;
    letter-spacing: -.06px;
    overflow: hidden;
    word-break: keep-all;
}

.myPageProfileInfo .purchase_list_tab.inventory .tab_item.total .count, .myPageProfileInfo .purchase_list_tab.sell .tab_item.total .count{
    color: #31b46e;
}

.myPageProfileInfo .my_home_title .btn_more{
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 5px;
}

.myPageProfileInfo .interest_product{
    margin: 0 -10px;
}

.myPageProfileInfo .product_item{
    display: inline-block;
    margin: 20px 0;
    padding: 0 12px;
    position: relative;
    vertical-align: top;
    width: 25%;
}

.myPageProfileInfo .product_item .item_inner{
    background-color: #fff;
    border-radius: 12px;
    display: block;
}

.myPageProfileInfo .product{
    border-radius: 8px;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}

.myPageProfileInfo .detail_stock .product_img, .myPageProfileInfo .is_exclusive .product_img, .myPageProfileInfo .lucky_draw_column .product_img, .myPageProfileInfo .other_stock .product_img, .myPageProfileInfo .product_img, .myPageProfileInfo .stock .product_img{
    height: auto;
    width: 100%;
}

.myPageProfileInfo .product_img{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.myPageProfileInfo .picture{
    border: none;
    display: flex;
}

.myPageProfileInfo .image.full_width{
    height: 100%;
    width: 100%;
}

.myPageProfileInfo .image{
    image-rendering: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.myPageProfileInfo .product_item .btn_wish{
    bottom: 3px;
    display: inline-flex;
    padding: 5px;
    position: absolute;
    right: 3px;
    z-index: 1;
}

.myPageProfileInfo .btn_wish{
    display: flex;
    height: inherit;
}

[role=button] {
    cursor: pointer;
}

[class*=ico-] {
    height: 24px;
    width: 24px;
}

.myPageProfileInfo .product_item .info_box{
    padding: 9px 4px 0;
}

.myPageProfileInfo .brand-text {
    align-items: center;
    color: #222;
    display: inline-flex;
    font-size: 18px;
    font-weight: 700;
    height: 17px;
    line-height: 20px;
    margin-bottom: 2px;
}

.myPageProfileInfo .brand-text > .brand-name {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageProfileInfo .product_item .price{
    padding-top: 12px;
}

.myPageProfileInfo .product_item .amount{
    font-size: 0;
    line-height: 0;
}

.myPageProfileInfo .product_item .discount_rate, .myPageProfileInfo .product_item .num, .myPageProfileInfo .product_item .won{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.04px;
    line-height: 17px;
    vertical-align: top;
}

.myPageProfileInfo .display_paragraph.line_break_by_truncating_tail {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myPageProfileInfo .text-lookup.bold{
    font-weight: 700;
}

.myPageProfileInfo address, .myPageProfileInfo em {
    font-style: normal;
}

.myPageProfileInfo .product_item .desc{
    color: rgba(34, 34, 34, .5);
    font-size: 11px;
    line-height: 13px;
    margin-top: 2px;
}

.myPageProfileInfo .content_title{
    display: flex;
}

.myPageProfileInfo .purchase_list_tab.detail_tab{
    background-color: #fff;
    border-radius: 0;
    margin-top: 20px;
}

.myPageProfileInfo .purchase_list_tab.detail_tab .tab_link{
    border-bottom: 1px solid #ebebeb;
    height: 80px;
    padding-top: 12px;
}

.myPageProfileInfo .purchase_list_tab.detail_tab .tab_box{
    display: flex;
    flex-direction: column-reverse;
}

.myPageProfileInfo .purchase_list_tab.detail_tab .tab_on .title{
    color: #222;
    font-weight: 700;
}

.myPageProfileInfo .purchase_list_tab.detail_tab .title{
    color: rgba(34, 34, 34, .5);
}

.myPageProfileInfo .purchase_list_tab.detail_tab .tab_on .count{
    color: #31b46e;
}

.myPageProfileInfo .purchase_list_tab.detail_tab .count{
    font-size: 20px;
    letter-spacing: -.1px;
    line-height: 24px;
    margin-top: 0;
}

.myPageProfileInfo .title>h3{
    font-size: 24px;
    line-height: 29px;
}

.myPageProfileInfo .main_title>h3{
    font-size: 24px;
    line-height: 29px;
}

.myPageProfileInfo .before_purchase_confirmation{
    font-size: 12px;
    color: #BFBFBF;

}

.myPageProfileInfo .after_purchase_confirmation{
    font-size: 12px;
    color: #BFBFBF;
}

.myPageProfileInfo .content_title.border{
    border-bottom: 3px solid #222;
    padding-bottom: 16px;
}

.myPageProfileInfo .saved-chips-container{
    padding: 12px 0;
}

.myPageProfileInfo .filter_chip_group.bubble{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
    position: relative;
}

.myPageProfileInfo .blind, .myPageProfileInfo .u_skip {
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
}

.myPageProfileInfo input, .myPageProfileInfo textarea {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 0;
    resize: none;
}

.myPageProfileInfo .filter_button.line{
    align-items: center;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    color: #4e4e4e;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
    padding: 0 8px;
}

.myPageProfileInfo .filter_button.line.active{
    background-color: #222;
    border: none;
    color: #fff;
    font-weight: 600;
    box-shadow: none;
}

.myPageProfileInfo .filter_button{
    cursor: pointer;
    position: relative;
}

.myPageProfileInfo button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: none;
    padding: 0;
}

.myPageProfileInfo .filter_button .text-group{
    padding: 0 4px;
}

.myPageProfileInfo .filter_button .num{
    display: none;
}

.myPageProfileInfo .content-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.myPageProfileInfo .total-rows{
    color: rgba(34, 34, 34, .8);
    font-size: 13px;
    letter-spacing: -.07px;
}

.myPageProfileInfo .profile_group.first{
    padding-top: 0 !important;
}

.myPageProfileInfo .profile_info{
    max-width: 480px;
    padding-top: 38px;
}

.myPageProfileInfo .profile_group{
    padding-top: 48px;
}


.myPageProfileInfo .lg .profile_group, .myPageProfileInfo .md .profile_group{
    padding-top: 58px;
}

.myPageProfileInfo .group_title{
    font-size: 18px;
    letter-spacing: -.27px;
}

.myPageProfileInfo .unit{
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    padding: 25px 0 12px;
    position: relative;
}

.myPageProfileInfo .unit_content{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.myPageProfileInfo .desc{
    flex: 1;
    font-size: 16px;
    letter-spacing: -.16px;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.myPageProfileInfo .btn_modify{
    position: absolute;
    right: 0;
}

.myPageProfileInfo .my-profile__term-desc{
    line-height: 1;
    padding-bottom: 0;
    padding-top: 0;
}

.myPageProfileInfo .my-profile__term-desc>span{
    display: block;
    margin-bottom: 2px;
}

.myPageProfileInfo .desc [type=button]{
    color: #909090;
    font-size: 12px;
    font-weight: 400;
    text-decoration-line: underline;
}

.myPageProfileInfo .base-switch{
    background-color: var(--75b83bce);
    border-radius: 15.5px;
    cursor: pointer;
    height: 31px;
    position: relative;
    width: 51px;
}

.myPageProfileInfo .base-switch.is-active{
    background-color: var(--6d656928);
}

.myPageProfileInfo .base-switch .circle{
    background-color: var(--30d0adec);
    border-radius: 50%;
    height: 27px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(2px, -50%);
    width: 27px;
}

.myPageProfileInfo .base-switch.is-active .circle{
    transform: translate(22px, -50%);
}

.myPageProfileInfo .base-switch .circle, .myPageProfileInfo .base-switch{
    transition: all .3s cubic-bezier(.4,0,.2,1) !important;
}

.myPageProfileInfo .btn_withdrawal, .myPageProfileInfo .btn_withdrawal:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.myPageProfileInfo .btn_withdrawal{
    color: rgba(34, 34, 34, .5);
    display: inline-block;
    font-size: 13px;
    letter-spacing: -.07px;
    margin-top: 55px;
    padding: 5px 0;
}

.myPageProfileInfo .lg .user_profile, .myPageProfileInfo .md .user_profile{
    border-bottom: 1px solid #ebebeb;
}

.myPageProfileInfo .user_profile{
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 38px 0;
}

.myPageProfileInfo .profile_thumb{
    border-radius: 100%;
    flex: none;
    height: 80px;
    margin-right: 12px;
    overflow: hidden;
    width: 80px;
}

.myPageProfileInfo .lg .profile_thumb, .myPageProfileInfo .md .profile_thumb{
    height: 90px;
    width: 90px;
}

.myPageProfileInfo .profile_thumb .thumb_img{
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.myPageProfileInfo .profile_detail .name{
    color: #000;
    font-size: 18px;
    letter-spacing: -.27px;
    line-height: 1.2222222222;
}

.myPageProfileInfo .profile_btn_box{
    font-size: 0;
    margin-top: 12px;
}

.myPageProfileInfo .profile_btn_box .btn+.btn{
    margin-left: 8px;
}

.myPageProfileInfo .desc_modify{
    padding-right: 58px;
}

.myPageProfileInfo .modify.name{
    padding-top: 25px;
}

.myPageProfileInfo .input_title{
    font-size: 13px;
    letter-spacing: -.07px;
    line-height: 18px;
}

.myPageProfileInfo .input_box{
    padding: 0;
}

.myPageProfileInfo .input_box{
    position: relative;
}

.myPageProfileInfo .input_item{
    position: relative;
}

.myPageProfileInfo .profile_group .modify .input_txt{
    font-size: 15px;
    letter-spacing: -.15px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.myPageProfileInfo .profile_group .input_txt{
    font-size: 16px;
    letter-spacing: -.16px;
    padding-bottom: 19px;
    padding-top: 7px;
}

.myPageProfileInfo .input_txt{
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
    letter-spacing: -.15px;
    line-height: 22px;
    padding: 8px 0;
    width: 100%;
}


.input_txt:focus {
    border-bottom: 2px solid #222;
}

.myPageProfileInfo .modify_btn_box{
    font-size: 0;
    padding-top: 28px;
    text-align: center;
}

.myPageProfileInfo .modify_btn_box .btn{
    padding: 0 38px;
}

.myPageProfileInfo .medium{
    height: 42px;
    letter-spacing: -.14px;
    padding: 0 18px;
}

.myPageProfileInfo .large.mobile, .myPageProfileInfo .medium{
    border-radius: 10px;
    font-size: 14px;
}

.myPageProfileInfo .modify_btn_box .btn+.btn{
    margin-left: 8px;
}

.myPageProfileInfo .solid{
    background-color: #222;
    color: #fff;
    font-weight: 700;
}

.myPageProfileInfo .modify{
    padding-top: 23px;
}